<table class="table table-bordered table-outer-border" align="center">
    <tbody>
        <tr>
            {% if subreddit.language and subreddit.language != g.locale %}
                <td>
                    <a id="translate_subreddit_link{{ subreddit.id }}" href="javascript:translate(
                                                        ['#subreddit_title{{ subreddit.id }}', '#subreddit_description{{ subreddit.id }}'],
                                                        '{{ g.locale }}',
                                                        '#translate_subreddit_link{{ subreddit.id }}')">
                        {{ _('Translate') }}
                    </a>
                </td>
            {% endif %}
        </tr>
        
        <tr>
            <td><b><a id="subreddit_title{{ subreddit.id }}" href="{{ url_for('subreddit', subreddit_name=subreddit.name) }}">{{ subreddit.name }}</a></b></td>
        </tr>
        
        <tr>
            <td><span id="subreddit_description{{ subreddit.id }}">{{ subreddit.description }}</span></td>
        </tr>
