<table class="table table-bordered table-outer-border" align="center">
    <tbody>
        {% if thread.language and thread.language != g.locale %}
            <tr>
                <td>
                    <a id="translate_thread_link{{ thread.id }}" href="#">{{ _('Translate') }}</a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td><a href={{url_for('subreddit', subreddit_name=thread.subreddit.name)}}>{{ _('%(subreddit_name)s', subreddit_name=thread.subreddit.name) }}</a></td>
        </tr>
        <tr>
            {% set user_link %}
                <a href={{ url_for('user', username=thread.user.username) }}>{{ _('%(username)s', username=thread.user.username) }}</a>
            {% endset %}
            <td> {{ _('Posted by %(user)s %(date)s', user=user_link, date=moment(thread.date).fromNow()) }}</td>
        </tr>
        <tr>
            <td><b><a id="thread_title{{ thread.id }}" href="{{ url_for('view_thread', thread_title=thread.title) }}">{{ thread.title }}</a></b></td>
        </tr>
