<table class="table table-bordered table-outer-border" align="center">
    <tbody>
        <tr>
            <td><a href={{url_for('user', username=user_dummy[0].username)}}>{{ user_dummy[0].username }}</a></td>
        </tr>
        {% if len(user_dummy[0].threads) > 0 %}
            <tr><p>Last Post: </p></tr>
            <tr>
                <td> {{ _('Posted %(date)s', date=moment(user_dummy[0].threads[0]).fromNow()) }}</td>
            </tr>
	    <tr>
            {% if user_dummy[0].threads[0].language and user_dummy[0].threads[0].language != g.locale %}
                <td><a href="javascript:translate(
                                                        '#thread_title{{ user_dummy[0].threads[0].id }}',
                                                        '#translated_thread_title{{ user_dummy[0].threads[0].id }}',
                                                        '{{ g.locale }}')">
                    {{ _('Translate') }}</a></td>
            {% endif %}
        </tr>            
            <tr>
                <td><a href={{ url_for('view_thread', thread_title=user_dummy[0].threads[0].title) }}><b><span id="thread_title{{ user_dummy[0]threads[0].id }}">{{ user_dummy[0].thread[0].title }}</span></b></a></td>
            </tr>
        {% endif %}
        <tr>
            <td><span id="translated_thread_title{{ user_dummy[0].threads[0].id }}"></span></td>
        </tr>
