<table class="table table-bordered table-outer-border" align="center">
    <tbody>
        <tr>
            <td><a href={{url_for('user', username=user.username)}}>{{ user.username }}</a></td>
        </tr>
        {% if user.threads %}
            {% set latest_thread = user.threads[-1] %}
            <tr><td><p>Last Post: </p></td></tr>
            <tr>
                <td> {{ _('Posted %(date)s', date=moment(latest_thread.date).fromNow()) }}</td>
            </tr>
            <tr>
                {% if latest_thread.language and latest_thread.language != g.locale %}
                    <td><a id="translate_thread_link{{ latest_thread.id }}" href="javascript:translate(
                                                    ['#thread_title{{ latest_thread.id }}'],
                                                    '{{ g.locale }}',
                                                    '#translate_thread_link{{ latest_thread.id }}')">
                        {{ _('Translate') }}</a></td>
                {% endif %}
            </tr>
            <tr>
                <td><b><a id="thread_title{{ latest_thread.id }}" href="{{ url_for('view_thread', thread_title=latest_thread.title) }}">{{ latest_thread.title }}</span></a></b></td>
            </tr>
        {% endif %}
