{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if page_title %}
        {{page_title}}    
    {% else %}
        {{ _('Reddit') }}
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={{ url_for('index') }}>{{ _('Reddit') }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if subreddit_name %}
                        <li><a href={{url_for('subreddit', subreddit_name=subreddit_name)}}>{{ _('%(subreddit_name)s', subreddit_name=subreddit_name) }}</a></li>
                    {% endif %}
                    {% if current_user.is_anonymous %}
                        <li><a href={{url_for('login')}}>{{ _('Login') }}</a></li>
                    {% else %}
                        <li><a href={{url_for('logout')}}>{{ _('Logout') }}</a><li>
                    {% endif %}
                </ul>
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}">
                        <div class="form-group">
                            {{ g.search_form.q(size=30, class='form-control', placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href={{ url_for('view_subreddits') }}>{{ _('View Subreddits') }}</a></li>
                    {% if not current_user.is_anonymous %}
                        <li><a href={{url_for('user', username=current_user.username)}}>{{ _('%(current_user)s', current_user=current_user.username) }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href={{url_for('static', filename='css/navbar-fixed-top.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/table-outer-border.css')}}>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

    <script type="text/javascript">
        function translate(targetElemIdList, destLang, translateLinkElemId) {

            // Create list of text to translate
            var sourceElemTextList = targetElemIdList.map(function(targetElemId) {
                return $(targetElemId).text();
            });
            
            // Maintain list of original source elements to return in case translation fails
            var sourceElemList = targetElemIdList.map(function(targetElemId) {
                return $(targetElemId).get(0).outerHTML;
            });

            // Replace elements with loading images; retain IDs for replacement back to translations/original text
            $(translateLinkElemId).replaceWith('<img id="' + translateLinkElemId.slice(1) + '" src="{{ url_for('static', filename='loading.gif') }}">');
            targetElemIdList.forEach(function(targetElemId) {    
                $(targetElemId).replaceWith('<img id="' + targetElemId.slice(1) + '" src="{{ url_for('static', filename='loading.gif') }}">');
            });

            $.post('/translate', {
                text: sourceElemTextList,
                dest_language: destLang
            }).done(function(response) {
                targetElemIdList.forEach(function(targetElemId, elemIndex) {
                    $(targetElemId).replaceWith(sourceElemList[elemIndex]);
                    $(targetElemId).text(response['text'][elemIndex]);
                });
                $(translateLinkElemId).replaceWith("<p>{{ _('Text was translated from English to your preferred language.') }}</p>");
            }).fail(function() {
                targetElemIdList.forEach(function(targetElemId, elemIndex) {
                    $(targetElemId).replaceWith(sourceElemList[elemIndex]);
                });
                $(translateLinkElemId).replaceWith("<p>{{ _('Error: Could not translate the selected text.') }}</p>");
            });
        }
    </script>
{% endblock %}
