{% extends "base.html" %}

    {% block scripts %}
		{{ super() }}

		<script type="text/javascript">
		    $(document).ready(function() {
				{% for thread in threads %}
		        	$("#translate_thread_link{{ thread.id }}").click(function(e) {
		            	e.preventDefault();
		            	translate(['#thread_title{{ thread.id }}'], '{{ g.locale }}', '#translate_thread_link{{ thread.id }}');
		        	});
				{% endfor %}
		    });
		</script>
    {% endblock %}

    {% block app_content %} 
        
        <a class="btn btn-primary" href={{url_for('create_thread')}}>{{ _('Create New Thread') }}</a>

        {% for thread in threads %}
            {% include "_thread.html" %}  
                        <td><a class="btn btn-info" href= {{ url_for('index', page=page_num, thread_title=thread.title, is_upvote=1) }}>{{ _('Upvote') }}</a></td>
                        <td><a class="btn btn-info" href= {{ url_for('index', page=page_num, thread_title=thread.title, is_upvote=-1) }}>{{ _('Downvote') }}</a></td>
                    </tr>
         
                    <tr>
                        <td>{{ _('%(num_upvotes)s upvotes', num_upvotes=thread.upvotes) }} </td>
                    </tr>
                </tbody>
            </table>

        {% endfor %}


        <nav aria-label="...">
          <ul class="pager">
            <li class={% if prev_url %} "previous" {% else %} "previous disabled" {% endif %}>
                <a href={{ prev_url or '#' }}><span aria-hidden="true">&larr;</span> {{ _('Newer') }}
                </a>
            </li>
            <li class={% if next_url %} "next" {% else %} "next disabled" {% endif %}>
                <a href={{ next_url or '#' }}>{{ _('Older') }} <span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
        </nav>
 
    {% endblock %}
