{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block app_content %}
    <h1>
        <span id="search_title">{{ _("Search Results for: ") }}</span>
        <span id="search_query">{{ g.search_form.q.data }}</span><br>
        <span id="translated_search_title"></span>
    </h1>
    <a href="javascript:translate_search_results_title('#search_title',
                                                        '#search_query',
                                                        '#translated_search_title',
                                                        '{{ g.locale }}')">{{ _("Translate") }}</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('search', index='thread', q=query) }}">Threads</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('search', index='user', q=query) }}">Users</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('search', index='subreddit', q=query) }}">Subreddits</a>

    {% if not results_list %} 
        <h3>No search results were found. Please enter a new search query or search category.</h3>
    {% else %}

        {% if index == 'thread' %}
            {% for thread_author in results_list %}
                {% include '_thread.html' %}
            {% endfor %}   
        {% endif %}    
        
        {% if index == 'user' %}
            {% for user_dummy in results_list %}
                {% include '_user.html' %}
            {% endfor %}   
        {% endif %}    

        {% if index == 'subreddit' %}
            {% for subreddit_author in results_list %}
                {% include '_subreddit.html' %}
            {% endfor %}   
        {% endif %}    

        <br>    
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span>
                        {{ _('Previous results') }}
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        {{ _('Next results') }}
                        <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
