{% extends "base.html" %}

    {% block content %} 
        <a href={{url_for('create_thread')}}>Create New Thread</a>
        {% for subreddit_thread in subreddit_threads_authors %}
            
            <div>
                <table>
                    <tr>
                        <td>Posted by {{subreddit_thread[1].username}} on {{subreddit_thread[0].date}}</td>
                    </tr>
                    <tr>
                        <td><h2><b>{{subreddit_thread[0].title}}</b></h2></td>
                    </tr>
                    <tr>
                        <td>{{subreddit_thread[0].upvotes}} upvotes</td>
                    </tr>
                </table>
            </div><br>
        
        {% endfor %} 
    
    {% endblock %}
