{% extends "base.html" %}

    {% block app_content %}
        {% for thread_author in thread_author_singleton %}
            {% include "_thread.html" %}
                    <tr><td>{{ _('%(body)s', body=thread_author[0].body) }}</td></tr>
                    <tr>
                        <td><a href={{ url_for('view_thread', thread_title=thread_author[0].title, is_upvote=1) }}>{{ _('Upvote') }}</a></td>
                        <td><a href={{ url_for('view_thread', thread_title=thread_author[0].title, is_upvote=-1) }}>{{ _('Downvote') }}</a></td>
                    </tr>
                    <tr><td>{{ _('%(num_upvotes)s upvotes', num_upvotes=thread_author[0].upvotes) }}</td></tr>
                </tbody>
            </table>
        {% endfor %}

        <hr>

        <a class="btn btn-primary" href={{ url_for('add_comment') }}>{{ _('Post a Comment') }}</a>

        {% for comment in comments %}
            <table>
                <tr>
                    <td>{{ _('%(username)s', username=comment.user.username) }}</td>
                    <td>{{ _('%(num_upvotes)s upvotes', num_upvotes=comment.upvotes) }}</td>
                    <td>{{ _('%(date)s', date=moment(comment.date).fromNow()) }}</td>
                </tr>
                <tr><td>{{ _('%(body)s', body=comment.body) }}</td>
            </table><br>
        {% endfor %}

    {% endblock %}
