{% extends "base.html" %}

    {% block app_content %} 
        
        <h1>{{ _('%(username)s', username=username) }}</h1>
        {% for user_thread in user_threads %}
            <table>
                <tr>
                    <td><a href={{url_for('subreddit', subreddit_name=user_thread.subreddit.name)}}>{{ _('%(subreddit_name)s, subreddit_name=user_thread.subreddit.name) }}</a>
                <tr>
                    <td>{{ _('Posted by %(username)s %(date)s, username=username, date=moment(user_thread.date).fromNow()) }}</td>
                </tr>
                <tr>
                    <td><a href={{url_for('view_thread', thread_title=user_thread.title)}}><b>{{ _('%(title)s', title=user_thread.title) }}</b></a></td>
                </tr>

                <tr>
                    <td><a href={{ url_for('user', page=page, username=username, thread_title=user_thread.title, is_upvote=1) }}>{{ _('Upvote') }}</a></td>
                    <td><a href={{ url_for('user', page=page, username=username, thread_title=user_thread.title, is_upvote=-1) }}>{{ _('Downvote') }}</a></td>
                </tr>

                <tr>
                    <td>{{ _('%(num_upvotes)s upvotes', num_upvotes=user_thread.upvotes) }}</td>
                </tr>
            </table>
            <br> 
        {% endfor %}

        <nav aria-label="...">
            <ul class="pager">
                <li class={% if prev_url %}"previous"{% else %}"previous disabled"{% endif %}>
                    <a href={{ prev_url or '#' }}><span aria-hidden="true">&larr;</span> {{ _('Newer') }}</a>
                </li>
                <li class={% if next_url %}"next"{% else %}"next disabled"{% endif %}>
                    <a href={{ next_url or '#' }}>{{ _('Older') }} <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>
    {% endblock %}
