{% extends "base.html" %}

	{% block scripts %}
		{{ super() }}
		<script type="text/javascript">
		    $(document).ready(function() {
				{% for thread in user_threads %}
		        	$("#translate_thread_link{{ thread.id }}").click(function(e) {
		            	e.preventDefault();
		            	translate(['#thread_title{{ thread.id }}'], '{{ g.locale }}', '#translate_thread_link{{ thread.id }}');
		        	});
				{% endfor %}
		    });
		</script>
    {% endblock %}

    {% block app_content %} 
        
        <h1>{{ _('%(username)s', username=username) }}</h1>
        {% for thread in user_threads %}
            {% include "_thread.html" %}
                    
                    <tr>
                        <td><a href={{ url_for('user', page=page, username=username, thread_title=thread.title, is_upvote=1) }}>{{ _('Upvote') }}</a>
                            <a href={{ url_for('user', page=page, username=username, thread_title=thread.title, is_upvote=-1) }}>{{ _('Downvote') }}</a></td>
                    </tr>

                    <tr>
                        <td>{{ _('%(num_upvotes)s upvotes', num_upvotes=thread.upvotes) }}</td>
                    </tr>
                </tbody>
            </table>
            <br> 
        {% endfor %}

        <nav aria-label="...">
            <ul class="pager">
                <li class={% if prev_url %}"previous"{% else %}"previous disabled"{% endif %}>
                    <a href={{ prev_url or '#' }}><span aria-hidden="true">&larr;</span> {{ _('Newer') }}</a>
                </li>
                <li class={% if next_url %}"next"{% else %}"next disabled"{% endif %}>
                    <a href={{ next_url or '#' }}>{{ _('Older') }} <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>
    {% endblock %}
